{% extends 'staff_template/base_template.html' %}

{% block page_title %}
    Search Task
{% endblock page_title %}

{% block main_content %}

{% load static %}
{% load widget_tweaks %}

<section class="content">
        <div class="container-fluid">


            <form method="get">
                <div class="card-body">
                    <div class="row">
                       <div class="form-group col-sm-4 col-md-3">
                           {{filter.form.task_name.label_tag}}
                           {% render_field filter.form.task_name class="form-control" %}
                       </div>
                       <div class="form-group col-sm-4 col-md-3">
                           {{filter.form.priority.label_tag}}
                           {% render_field filter.form.priority class="form-control" %}
                       </div>
                       <div class="form-group col-sm-4 col-md-3">
                           {{filter.form.created_at.label_tag}}
                           {% render_field filter.form.created_at class="form-control" %}
                       </div>
                       <div class="form-group col-sm-4 col-md-3">
                           {{filter.form.assigned_to.label_tag}}
                           {% render_field filter.form.assigned_to class="form-control" %}
                       </div>
                   </div>
               </div>


                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Search</button>
                  <button type="reset" class="btn btn-primary">Clear</button>
                </div>
            </form>



            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">


                            <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            </div>


                            <div class="row">
                              <div class="col-md-4">
                              <a href="#" class="btn btn-dark">Export CSV</a>
                              </div>

                              <div class="col-md-4">
                              <a href="#" class="btn btn-dark">Export Excel</a>
                              </div>

                              <div class="col-md-4">
                              <a href="#" class="btn btn-dark">Export PDF</a>
                              </div>
                            </div>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover">
                            <thead>
                                <tr>
                                <th>ID</th>
                                <th>Task</th>
                                <th>Assigned To</th>
                                <th>Description</th>
                                <th>Priority</th>
                                <th>Due Date</th>
                                <th>Status</th>


                                <th>Created At</th>
                                <th>Updated At</th>
                                <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for t in filter.qs %}
                                <tr>
                                <td>{{ t.id }}</td>
                                <td>{{ t.task_name }}</td>
                                <td>{{ t.assigned_to }}</td>
                                <td>{{ t.description }}</td>
                                <td>{% if t.priority == "HIGH" %}
                                  <span class="text-danger">{{ t.priority }}</span>
                                  {% elif t.priority == "NORMAL" %}
                                  <span class="text-info">{{ t.priority }}</span>
                                  {% else %}
                                  <span class="text-dark">{{ t.priority }}</span>
                                {% endif %}
                                </td>
                                <td>
                                  {% if t.now > t.deadline %}
                                    <span class="text-danger">{{ t.deadline }}</span>
                                    {% else %}
                                    <span class="text-success">{{ t.deadline }}</span>
                                  {% endif %}
                                </td>
                                <td>
                                  {% if t.status == False %}
                                    <span class="alert alert-danger">Pending</span>
                                    {% else %}
                                    <span class="alert alert-success">Done</span>
                                  {% endif %}
                                </td>


                                <td>{{ t.created_at }}</td>
                                <td>{{ t.updated_at }}</td>
                                <td>
                                    <a href="{% url 'todo_update' pk=t.pk %}" <i class="fas fa-edit"></i></a>
                                    <a href="{% url 'todo_delete' pk=t.pk %}" <i class="fas fa-trash-alt"></i></a>
                                </td>

                                </tr>
                                {% endfor %}

                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}
