{% extends 'staff_template/base_template.html' %}

{% block page_title %}
    Add UUC
{% endblock page_title %}

{% block main_content %}

{% load static %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}

<section class="content">
      <div class="form-group"
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Add UUC</h3>
                            </div>

                          <form method="POST">

                                 {% csrf_token %}
                                 <div class="card-body">
                                    <div class="form-group">
                                        {{form.uuc_name|as_crispy_field}}
                                    </div>
                                    <div class="form-group">
                                        {{form.workinstruction|as_crispy_field}}
                                    </div>
                                    <div class="form-group">
                                        {{form.Is_Standard|as_crispy_field}}
                                    </div>
                                    <div class="form-group">
                                        {{form.uncertainity|as_crispy_field}}
                                    </div>
                                </div>

                              <div class="card-footer">
                                <button type="submit" class="btn btn-primary">SAVE</button>
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      </section>

  {% endblock main_content %}
