{% extends 'staff_template/base_template.html' %}

{% block page_title %}
    Final Certificate
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">


            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">


                            <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            </div>


                            <div class="col-md-4">
                              <a href="#" class="btn btn-dark">Export PDF</a>
                            </div>
                            </div>

                        </div>

                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover">
                              <thead>
                                  <tr>
                                  <th>Cert No</th>
                                  <th>Instrument</th>
                                  <th>Master</th>
                                  <th>Status</th>
                                  <th>Comment</th>
                                  <th>QR</th>
                                  <th>Created At</th>
                                  <th>Updated At</th>
                                  <th>Action</th>
                                  </tr>
                              </thead>
                            <tbody>
                                {% for f in fcert_list %}
                                <tr>
                                <td><a href="{% url 'fcert_detail' pk=f.pk %}">{{ f.cert_no }}</a></td>
                                <td>{{ f.inst_name }}</td>
                                <td>{{ f.master }}</td>
                                <td>
                                    {% if f.check == False %}
                                      <span class="text-danger">Not reviewed</span>
                                      {% else %}
                                      <span class="text-success">Checked</span>
                                    {% endif %}
                                </td>
                                <td>{{ f.comment }}</td>
                                <td><img src="{{ f.qr_code.url }}" alt="" width="100" height="100"></td>
                                <td>{{ f.created_at }}</td>
                                <td>{{ f.updated_at }}</td>
                                <td>
                                    <a href="{% url 'fcert_update' pk=f.pk %}" <i class="fas fa-edit"></i></a>
                                    <a href="{% url 'fcert_delete' pk=f.pk %}" <i class="fas fa-trash-alt"></i></a>
                                </td>
                              </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                  </div>
              </div>

      </section>

  {% endblock main_content %}
